@charset "utf-8";
/* CSS Document */


/*

Khurram Shahzad
http://www.bizonesolutins.com/
Mar, 2015.

*/



.clear{ clear:both}
#mainbody{ width:100%;}
#row_1{ height:73px; background:#2B1A1B;}
#row_2{ height:665px; background:#42D8F7;}
#row_3{ height:185px; background:#FDFDFD;}
#row_4{ height:800px; background:#EDEDED;}
#row_5{ height:666px; background:#F7F7F7;}
#row_6{ height:2911px; background:#F1F1F1;}
#row_7{ height:391px; background:#635A5A;}

#logo{ width:200px; float:left;}
#logo img{ height:50px;}
#menus{width:400px; color:#fff;float:left;}

#support { color:#fff; float:right;  width:150px; margin-top:30px;}
.aa{color:#090202; margin:0px 0 0 10px;float:left; padding:8px}
.aa a{ text-decoration:none;}
.aa:hover{ background:#0B4FAA}

#menus ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  
}
ul li a{ text-decoration:none; color:#fff;}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}





#todo .minion{ left:20px; position:fixed;}
#todo .building{ left:73px; position:fixed;}
.minion-red{ background:url(../images/minion-red.png)}
.building-red{ background:url(../images/building-red.png)}

#board{width: 100%;min-height:100px;position:relative;float:left;}
#todo{width: 25%;float:left;}
#fullboard{background:url(../images/bg_game.jpg) no-repeat left top;width:75%; min-height:1045px;position:relative; float:left;}
.title{background-color:#52460a;text-align:center;color:white;padding: 2px 0px;}

#todo{width: 300px;min-height:150px;border: 2px solid black;}
#area_1, #area_2, #area_3{width:200px; position:absolute; border:1px solid #F8F8F8;}
#area_1{height: 93px;top: 136px;left: 413px;}
#area_2{height: 91px; top: 253px; left: 362px; width: 150px;}
#area_3{height: 127px;top: 308px;left: 519px;}		
*[draggable=true]{float:left;;margin: 10px;font-weight:bold;min-height:60px;min-width: 50px;min-height: 50px;}
.cardTitle{background-color: rgb(255,255,255);border:2px solid white;}